{% set current = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html>
    <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ToDoList</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{asset('css/styles.css')}}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="{{path('ToDoList')}}">Liste de d idée de choses à faire
            <img src="{{asset('img/logo.png')}}" width="50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <li {% if current == "ToDoList" %}  class="nav-item"><a class="nav-link active" aria-current="page" href="{{path('ToDoList')}}">Accueil</a></li>
                 
                <li {% else %} class="nav-item"><a class="nav-link" href="{{path('ToDoList')}}"{% endif %} >Accueil</a> </li>
                 

               
               <li {% if current == "contact" %}  class="nav-item"><a class="nav-link active" aria-current="page" href="{{path('contact')}}">contact</a></li>
                 
                <li {% else %} class="nav-item"><a class="nav-link" href="{{path('contact')}}"{% endif %} >Accueil</a> </li>


                <li {% if current == "about_us" %}  class="nav-item"><a class="nav-link active" aria-current="page" href="{{path('about_us')}}">A propos</a></li>
                 
                <li {% else %} class="nav-item"><a class="nav-link" href="{{path('about_us')}}"{% endif %} >Accueil</a> </li>
                     
                   
                    
                
                
                </ul>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
           <footer class="py-5 bg-dark">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-white">Copyright &copy; Brothier - - Bucket-List 2021</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    
    </body>

</html>
